.nav-link {
    font-size: 15px;
    color: gray;
}

.nav-link:hover {
    color: black;
    text-decoration: underline;
    text-underline-offset: 0.5em;
}

footer {
    background-color:  #d9d9d9;
}

.box {
    padding: 10px;
}

.footer-contact {
    font-size: 15px;
    color: gray;
}